body {
    font-size: 15pt;
}

html {
  background-size: cover;
  background-image: cover;
} 

a {
  color: skyblue;
  font-size: 1em;
  text-align: center;
  padding: 30px;
  text-decoration: none;
}

header {
  background-color: black;
  height: 200px;
  padding: 10px 50px;
}

ul {
  color: red;
  justify-content: space-between;
  display: inline-block;
  font-size: 25px;
  margin-right: 50px;
}

a:hover {
  color: darkgoldenrod;
  resize: 10px;
}

.con {
  align-items: center;
  margin: 30px 120px;
}

audio {
  border: 10px solid blue;
  border-radius: 10px;
  background-color: blue;
}
audio::-webkit-media-controls-panel {
  background-color: #56AEFF;
}

audio::-webkit-media-controls-play-button {
  background-color: #B1D4E0;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177,212,224, .7);
}